body {
    font-family: sans-serif;
    width: 98vw;
    background-color:#03092c;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#titulo {
    display: flex;
    border-radius: 5px;
    min-width: 50%;
    height: 35px;
    margin:20px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    background-color:#3a3568;
    color:#c0c0c0;
    border: 1px solid #0d1b2a;
    box-shadow: 0 0 10px #281f77, 0 0 15px #3d3280, 0 0 15px #364d7e;
}

#mesaDeTareas {
    display:block;
    background-color:#3a3568;
    color:#c0c0c0;
    border: 1px solid #0d1b2a;
    box-shadow: 0 0 10px #281f77, 0 0 15px #3d3280, 0 0 15px #364d7e;
    border-radius:5px;
    padding:5px;
    width:75%;
    min-height:300px;
}
#ingresorDeTareas{
    background-color:#2e2a52;
    color:#c0c0c0;
}
input:focus {
    outline: none;
    caret-color:white;
}
#ingresarTarea{
    background-color:#2e2a52;
    color:#c0c0c0;
}
#limpiarMesaDeTareas{
    background-color:#2e2a52;
    color:#c0c0c0;
}
.tareaContenedor > *{
    display:inline;
}
.tareaContenedor{
    box-shadow:2px 2px 0px black, -2px -2px 0px #23203f;
    margin:5px;
    background-color:#27234b;
    height:26px;
}